  .spacer {
    flex: 1;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00aeff;
    color: white;
    font-weight: 600;
  }

  .header a {
    color:white;
    text-decoration: none;
  }

  .header span{
    margin: 0 0 0 24px;
  }

  .header img {
    margin: 0 8px;
  }

  .header #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .header #twitter-logo:hover {
    opacity: 0.8;
  }

